.TopImage{
    width: 175.0000005px;
    height: 50px;
}

.header {
    height: 50px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    vertical-align: center;
    display: inline-block;
}

.line-break {
    background-color: lightgray;
    height: 1.5px;
}

p {
    font-family: 'Dosis', sans-serif;
}

.mainbody {
    padding-left: 100px;
    padding-right: 100px;
}

.wis-title {
    padding-left: 176px;
}