.TopImage{
    width: 100px;
    height: 100px;
}

.header {
    height: 100px;
    width: 100%;
}

.line-break {
    background-color: black;
    height: 5px;
}

.Title {
    font-size: 50px;
    font-family: 'Dosis', sans-serif;
    padding-left: 150px;
    padding-top: -10px;
}